/**
  * @name NordDC
  * @author ImSoSx
  * @description A Nord theme for discord.
  * @version 1.0
  */
@import url("https://imsosx.github.io/src/Themes/Nord/Discord/src/NordDC.css");
/* Full user popout*/
@import url("https://imsosx.github.io/src/Themes/Nord/Discord/src/full_popout_avatars.css");
/* Variables */
:root {
  /* Dark Mode  */
  --dm-channel-color: hsla(240,1%,29%,0.5); /* Channel Selected/Hoverd background color | Theme's Default - hsla(240, 1%, 29%, 0.5) */
  --dm-chat-bg: #2e3440; /* Chat's background color | Theme's Default - #1a1a1a */
  /*            */
  --button-radius: 0px; /* Discord Default - 3px | Theme's Default - 0px */
  --channel-radius: 6px; /* Discord Default - 3px | Theme's Default - 6px */
}

/* Highlight Selection */
/* -delete this css below if you do not want a different highlight than default blue and white text*/
.theme-dark ::selection {
  background-color: #f0e8e8;
  color: #1e1e1e;
}
